body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f4f6f8;
}

table {
    width: 100%;
    background-color: #fff;
    border-collapse: collapse;
}

table th, table td {
    padding: 10px;
    border: 1px solid #ccc;
}

h2 {
    margin-top: 20px;
}
